{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="A" type="number">
<input id="B" type="number">
<button onclick="onClick(event)" data-url="{% url 'api_v1:add_api' %}">add</button>
<button onclick="onClick(event)" data-url="{% url 'api_v1:subtract_api' %}">subtract</button>
<button onclick="onClick(event)" data-url="{% url 'api_v1:multiply_api' %}">multiply</button>
<button onclick="onClick(event)" data-url="{% url 'api_v1:divide_api' %}">divide</button>
<p id="result"></p>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>